.random-food-container{
    width: 100%;
    height: 100%;
    padding: 50px 100px;
}
.random-food-banner{
    height: 330px;
    width: 100%;
}
/*체크박스*/

.random-food-condition{
    padding: 50px 0;
    width: 100%;
}


.border-rd{
    border: 3px groove #ff4e7f;
    border-radius: 20px;
    padding: 5px 40px;
}


.con-btn-box{
    border: 2px dashed #ff4e7f;
    border-radius: 20px;
    gap: 5px;
    padding-left:10px;
    padding-right:15px;
}
.btn_rolling{
    animation: rotate_image 1s linear infinite;
    transform-origin: 50% 50%;
}
@keyframes rotate_image{
    100% {
        transform: rotate(360deg);
    }
}


fieldset label{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
    width: 65px;
    height: 50px;
    border: 2px dashed #ff4e7f;
    border-radius: 40px;
    /*box-shadow:2px 2px 10px rgba(250,110,110,0.74) inset;*/
}

.confm-grid{
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 50px;
}
.confm-item{
    text-align: center;
}
/*음식 이미지*/
.random-food-img-info{
    display: none;
    width: 100%;
}

#food_light{
    color: #ffff82;
}
/**이미지 배너사용으로 인해 사용안함*/
/*.food-img-box{*/
/*    border-radius: 20px;*/
/*    !*border: 3px solid rgba(252, 148, 148, 0.98) ;*!*/
/*    width: 1500px;*/
/*    height: 400px;*/
/*}*/

.rdfood-list{
    display: grid;
    grid-template-columns: repeat(4,minmax(200px,400px));
    place-items:center;
    margin: 0;
    padding: 0;
}
.rdfood-list img{
    width: 300px;
    height: 300px;
    padding: 10px;
    border: 3px solid rgba(252, 148, 148, 0.98) ;
    border-radius: 30px;
}

.food-ag-box{
    cursor: pointer;
    background-color: rgba(252, 148, 148, 0.98);
    border-radius: 20px;
    padding: 0 20px;
    margin-bottom: 100px;
    gap : 10px;
}
.food-ag-img{
    transition: all ease 1s;
    width: 50px;
    height: 60px;
}
.food-ag-box div{
    font-size: 18px;
    color: white;
}

.food-bn-container{
    overflow: hidden;
    width: 1500px;
    height:300px;
}
.food-bn-container .swiper-slide {
    text-align:center;
    display:flex; /* 내용을 중앙정렬 하기위해 flex 사용 */
    align-items:center; /* 위아래 기준 중앙정렬 */
    justify-content:center; /* 좌우 기준 중앙정렬 */
}
.food-bn-container img{
    width: 330px;
    height: 270px;
    padding: 10px;
    border-radius: 30px;
    max-width:100%;
}
.food-result-nm{
    font-size: 45px;
    padding-top: 140px;
    font-weight: bolder;
    text-align: center;
    width: 1700px;
    height: 400px;
    background-image: url("/img/reco.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 54% center;
}
.food-zzim-btn{
    cursor: pointer;
    background-color: rgba(252, 148, 148, 0.98);
    border-radius: 20px;
    padding: 0 20px;
    margin-bottom: 100px;
    gap : 10px;
}
.food-zzim-btn img{
    transition: all ease 1s;
    width: 50px;
    height: 60px;
}
.food-zzim-btn div{
    font-size: 18px;
    color: white;
}
.food-zzim-btn .addZzim img{
    transform: translate(0, 4px);
}

/*맵 띄어주기*/
.random-food-map{
    display: none;
    width: 100%;
}
#map_title{
    font-weight: bolder;
}
.map-restbox{
}
.restbox{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 50px;
}

.rcrest-img{
    width: 250px;
    height: 170px;
    padding: 10px;
    border-radius: 40px;
}
.rcrest-span-nm{
    font-size: 18px;
    font-weight: bolder;
}

/*마지막*/
.food-caution{
    text-align: center;
    color: #555555;
    font-size: 10px;
}