.fa-comments {
    color: #1c1c46;
}

.fa-github-alt {
    color: #1540af;
}

.chat_container {
    width: 100%;
    height: 100%;
    position: relative;
}

.chat_btn {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: transparent;
    border: #fff;
    font-size: 70px;
    width: 100px;
    height: 100px;
    z-index: 10;
}

.chat_main {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 350px;
    height: 500px;
    border: solid 1px #333;
    scroll-behavior: smooth;
    background-color: #fff;
    z-index: 10;
    overflow: scroll;
    border-radius: 15px;

}

.mobile {overflow-y: auto; width: 350px;height: 500px;}

.chat_main::-webkit-scrollbar {
    display: none;
}

.chat_close_box {
    display: flex;
    justify-content: space-between;
}

.chat_main_close {
    margin-right: 5px;
    font-size: 20px;
    cursor: pointer;
    font-family: sans-serif;
    color: #fff;
}

.chat_text {
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    background: #1c1c46;
    color: #fff;
    padding: 8px;
    text-shadow: 1px 1px 4px #111;
    margin-bottom: 8px;
    position: relative;
}

.robot{
    position: relative;
    display: flex;
    align-items: center;
}

.chatbot_icon {
    font-size: 50px;
    width: 50px;
    height: 50px;
    background-size: 100%;
    border-radius: 50%;
    margin: 10px;
}

.chatbot_nm {
    font-size: 13px;
    font-family: sans-serif;
}

.sentence {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

.welcome, .food_jmt, .chat_menu, .chat_customer {
    width: 100%;
    border: solid 1px #000;
    border-radius: 10px;
    position: relative;
    padding: 5px;
}

.food_jmt, .chat_menu, .chat_customer {
    display: inline-block;
    width: auto;
    height: 100%;
    margin: 5px;
    background-color: #1c1c46;
    color: #fff;
    cursor: pointer;
}

.jmt_type, .today_jmt, .tv_jmt, .tv_type, .delicious_mens, .three_kings, .live_information, .wednesday_party, .youngJa_load, .tasty_road, .menu_type, .today_food, .season_menu, .alcohol_menu, .today_question, .move_today_food, .season_type, .spring, .summer, .fail, .winter, .alcohol_type, .soju, .beer, .makgeolli, .westernAlcohol, .customer_type, .tel, .notice, .chat_tel, .tel_number, .notice_type, .move_notice, .reset_btn {
    width: 100%;
    border: solid 1px #000;
    border-radius: 10px;
    position: relative;
    padding: 5px;
    margin: 5px;
}

.today_jmt, .tv_jmt, .delicious_mens, .three_kings, .live_information, .wednesday_party, .youngJa_load, .tasty_road, .today_food, .season_menu, .alcohol_menu, .move_today_food, .spring, .summer, .fail, .winter, .soju, .beer, .makgeolli, .westernAlcohol, .tel, .notice, .move_notice {
    display: inline-block;
    width: auto;
    height: 100%;
    margin: 5px;
    background-color: #1c1c46;
    color: #fff;
    cursor: pointer;
}

.reset_btn {
    display: inline-block;
    width: auto;
    height: 100%;
    margin: 5px;
    background-color: #e10f0f;
    color: #fff;
    cursor: pointer;
}

.chatbot_icon > img {
    position: absolute;
    margin-top: 100px;
    transform: translate(-30%, -30%);
}