.mypage-container{
    width: 100%;
    height: 100%;
    padding: 50px 100px;
}

.mypage-profileimg-box img{
    cursor: pointer;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border: 10px solid rgba(128,115,115,0.46);
}

.container-border{
    border-radius: 40px;
    padding: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.mypage-info-container{
    gap: 150px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.mypage-info-box{
    padding: 30px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.mypage-info{
    font-size: 15px;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border-radius: 20px;
    padding: 20px;
    background-color: #fafafa;
}

.mypage-btn{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.mypage-btn div{
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: #ff4e7f;
    width: 100%;
}

.mypage-btn a{

    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: #ff4e7f;
    width: 100%;
}




.zzim-container{
    width: 100%;
}


.zzim-food-container{
    padding: 20px;
    overflow: hidden;
    width: 80%;
}
.zzim-jmt-container{
    padding: 20px;
    overflow: hidden;
    width: 80%;
}

.zzim-title{
    background-color: #ff4e7f;
    color: white;
    padding: 10px;
}

.swiper-slide {
    text-align:center;
    display:flex; /* 내용을 중앙정렬 하기위해 flex 사용 */
    align-items:center; /* 위아래 기준 중앙정렬 */
    justify-content:center; /* 좌우 기준 중앙정렬 */
}

.zzim-container img{
    max-width:100%;
    width: 260px;
    height: 180px;
}
.zzim-jmt-container img{
    cursor: pointer;
}

.zzim-container span{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.zzim-container i{
    color: red;
    cursor: pointer;
}