<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="temp/thymeleaf_layout">
<head>
    <link rel="stylesheet" th:href="@{/css/user/password.css}">
    <script defer th:src="@{/js/user/password.js}"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<th:block layout:fragment="content">
    <section class="login-container ">
        <div class="password-container">
            <div class="flex-c-c f-s-40 clr-main mt40"><i class="fa-solid fa-key"></i></div>
            <div class="line">비밀번호 변경</div>
            <div class="flex-c-c mt60">
                <form th:action="@{/user/password}" method="post" id="change" >
                    <div><label>현재 비밀번호 : <input type="password" name="currentupw" placeholder="현재 비밀번호" required></label></div>
                    <div><span id="current-chk-msg"></span></div>
                    <div id="allpw">
                        <div class="mt20"><label>변경 비밀번호 : <input type="password" name="u_pw" placeholder="변경 비밀번호" required></label></div>
                        <div class="mb20"><span id="upw-chk-msg"></span></div>
                        <div><label>확인 비밀번호 : <input type="password" name="chkupw" placeholder="비밀번호 확인" required></label></div>
                        <div><span id="upwchk-chk-msg"></span></div>
                    </div>
                    <div class="flex-c-c"><input type="submit" class="mb20" value="변경" id="submitBtn"></div>
                </form>
            </div>
        </div>
    </section>
</th:block>
