.search-container{
    width: 100%;
    height: 100%;
    padding: 50px 100px;
}
.search-list-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.search-list-item{
    width: 1300px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;

    display: flex;
    justify-content: space-between;
}
.search-list-item img{
    width: 100px;
    height: 80px;
    border-radius: 10px;
}

.jmt-star-count i{
    color: yellow;
}